<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Luigi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
    <script type="text/javascript" src="~/Scripts/pixi.js"></script>
    <script type="text/javascript" src="~/Scripts/pixi-spine.js"></script>
</head>
<body>
    
    <img class="logo" src="~/Assets/logo-small.png">
    <img class="hamburger" src="~/Assets/hamburger.png">
    
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
